@media (max-width: 480px){
 
    .main-div {

        display: grid;
        grid-template-rows: 75px 980px;
        height: 100%;
        width: 100%;
    }
    

    .a {
        order: 1;
        background-color: #35477d ;
    }

    .bcd {
        order: 2;
        display: grid;
        grid-template-rows: 14% 86%;

    }

    .b {
        order: 1;
        background-color: #6c5b7b;
    }
    .cde{
        order: 2;
        display: grid;
        grid-template-rows: 30% 60% 10%;
    }

    #cd {
        order: 1;
        display: grid;
        grid-template-rows: 50% 50%;
    }

    #c {
        order: 1;
        background-color: #c06c84;
    }

    #d {
        order: 2;
        background-color: #f67280;
    }

    #efgh {
        order: 3;
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .ef {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #e{
        background-color: #474168;
    }
    #f{
        background-color: #626f92;
    }
    .gh{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #g{
        background-color: #f9c4ac;
    }
    #h{

        background-color: #0f3057;
    }

    .i {
        order: 4;
        background-color: #008891;
    }
   
   
}


@media (min-width: 481px) {

    .main-div {

        display: grid;
        grid-template-rows: 100px 600px;
        height:100vh;
        width: 100%;
    }


    .a {
        order: 1;
        background-color: #35477d;
    }

    .bcd {
        order: 2;
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
        

    }

    .b {
        order: 1;
        background-color: #6c5b7b;

    }

    .cde {
        order: 2;
        display: grid;
        grid-template-rows: 200px 250px 150px;
    }

    #cd {
        order: 1;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #c {
        order: 1;
        background-color: #c06c84;
    }

    #d {
        order: 2;
        background-color: #f67280;
    }

    #efgh {
        order: 2;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .ef{
        order: 1;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .gh{
        order: 2;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #e {
        order: 1;
        background-color: #474168;
    }

    #f {
        order: 2;
        background-color: #626f92;
    }

    #g {
        order: 1;
        background-color: #f9c4ac;
    }

    #h {
        order: 2;
        background-color: #0f3057;
    }

    .i {
        order: 3;
        background-color: #008891;
    }

    
}


@media (min-width: 767px) {

    .main-div {

        display: grid;
        grid-template-rows: 100px 600px;
        height:100vh;
        width: 100%;
    }


    .a {
        order: 1;
        background-color: #01071a;
    }

    .bcd {
        order: 2;
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
        

    }

    .b {
        order: 1;
        background-color: #45196b;

    }

    .cde {
        order: 2;
        display: grid;
        grid-template-rows: 200px 250px 150px;
    }

    #cd {
        order: 1;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #c {
        order: 1;
        background-color: #5a1b2d;
    }

    #d {
        order: 2;
        background-color: #22551c;
    }

    #efgh {
        order: 2;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .ef{
        order: 1;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .gh{
        order: 2;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #e {
        order: 1;
        background-color: #2c0813;
    }

    #f {
        order: 2;
        background-color: #061130;
    }

    #g {
        order: 1;
        background-color: #ec601f;
    }

    #h {
        order: 2;
        background-color: #3d3a08;
    }

    .i {
        order: 3;
        background-color: #3a3a25;
    }

}